<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://monil1301.github.io/CarryOver/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>NNQpp49tPmCy4eoAA9Ern+AfVfQ08TIjQnS1c2rO56o=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
